img {
  max-width: 100%;
  vertical-align: middle;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover; }

.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both; }

@media (min-width: 1599px) and (max-width: 1920px) {
  .container {
    max-width: 1290px; } }
@media (max-width: 1500px) {
  .home header .menu li a {
    font-size: 1rem; }
  .home header .menu .search {
    margin: 0.4375rem; }
  .home .slide_home .slide_text .slide_title.top,
  .home .slide_home .slide_text .slide_title.bot {
    font-size: 2.1875rem; }
  .home .introduce .intro_title {
    font-size: 1.875rem; }
  .home .service .service_title {
    font-size: 1.875rem; }
  .home .project .project_title {
    font-size: 1.875rem; }
  .home .why_me .why_title {
    font-size: 1.875rem; }
  .home .establish .establish_title {
    font-size: 1.875rem; }
  .home .procedure .procedure_title,
  .home .new .procedure_title {
    font-size: 1.875rem; }
  .home .comment .com_title {
    font-size: 1.875rem; }
  .home .footer_top .footer_title {
    font-size: 1.875rem; }
  .home .contact .call a {
    font-size: 1.875rem; } }
@media (max-width: 1366px) {
  .home .slide_home .slide_item .slide_img {
    height: 100%; }
    .home .slide_home .slide_item .slide_img img {
      height: 100%; }
  .home .slide_home .slide_text {
    height: auto; }
    .home .slide_home .slide_text .slide_title.top,
    .home .slide_home .slide_text .slide_title.bot {
      font-size: 1.875rem; }
  .home .introduce .intro_title {
    font-size: 1.75rem; }
  .home .introduce .introduce_text {
    padding: 1.25rem; }
  .home .service .service_title {
    font-size: 1.75rem; }
  .home .service .padding_service {
    padding: 1.875rem 0; }
  .home .project {
    padding: 3.125rem; }
    .home .project .project_title {
      font-size: 1.75rem; }
  .home .why_me .why_title {
    font-size: 1.75rem; }
  .home .establish .establish_title {
    font-size: 1.75rem; }
  .home .establish .establish_text .establish_count {
    font-size: 1.875rem; }
  .home .procedure .procedure_title,
  .home .new .procedure_title {
    font-size: 1.75rem; }
  .home .comment .padding_com {
    min-height: 25rem; }
  .home .comment .comment_me {
    min-height: 25rem; }
  .home .comment .com_title {
    font-size: 1.75rem; }
  .home .comment .slide_comment {
    min-height: 26.25rem; }
  .home .comment .swiper-container-horizontal > .swiper-pagination-bullets,
  .home .comment .swiper-pagination-custom,
  .home .comment .swiper-pagination-fraction {
    bottom: 10%; }
  .home .footer_top .footer_title {
    font-size: 1.75rem; }
  .home .contact .call a {
    font-size: 1.75rem; } }
@media (max-width: 1200px) {
  .home .slide_home .slide_text {
    height: auto; }
    .home .slide_home .slide_text .slide_title.top,
    .home .slide_home .slide_text .slide_title.bot {
      font-size: 1.75rem; }
    .home .slide_home .slide_text .slide_span {
      font-size: 1.25rem; }
  .home .introduce .intro_title {
    font-size: 1.625rem; }
  .home .introduce .introduce_text {
    width: 100%; }
  .home .introduce .img_intro {
    display: none; }
  .home .service .service_title {
    font-size: 1.625rem; }
  .home .service .service_item .service_text .service_itemTitle {
    font-size: 1.125rem; }
  .home .project {
    padding: 3.125rem; }
    .home .project .project_title {
      font-size: 1.625rem; }
  .home .why_me .why_title {
    font-size: 1.625rem; }
  .home .why_me .why_text {
    min-height: 18.75rem;
    padding: 2.5rem;
    width: 100%;
    text-align: justify; }
  .home .why_me .img_span {
    display: none; }
  .home .establish {
    min-height: auto; }
    .home .establish .d_hight {
      min-height: 23.75rem; }
    .home .establish .establish_title {
      font-size: 1.625rem; }
    .home .establish .establish_text {
      padding: 1.25rem;
      width: 100%; }
      .home .establish .establish_text .establish_count {
        font-size: 1.875rem; }
    .home .establish .media-body .img {
      right: 0; }
  .home .procedure,
  .home .new {
    padding: 2.5rem 0; }
    .home .procedure .procedure_title,
    .home .new .procedure_title {
      font-size: 1.625rem; }
    .home .procedure .slide_new .new_next,
    .home .new .slide_new .new_next {
      right: 0rem; }
    .home .procedure .slide_new .new_prev,
    .home .new .slide_new .new_prev {
      left: 0rem; }
  .home .procedure {
    padding: 3.125rem 0; }
    .home .procedure .c_text .c_text_title {
      font-size: 1.125rem;
      margin-top: 1.125rem; }
  .home .comment .padding_com {
    min-height: 23.75rem; }
  .home .comment .comment_me {
    min-height: 23.75rem; }
    .home .comment .comment_me .comment_text {
      padding: 1.25rem;
      text-align: justify; }
  .home .comment .com_title {
    font-size: 1.625rem; }
  .home .comment .slide_comment {
    min-height: 25.25rem; }
  .home .comment .swiper-container-horizontal > .swiper-pagination-bullets,
  .home .comment .swiper-pagination-custom,
  .home .comment .swiper-pagination-fraction {
    bottom: 10%; }
  .home .footer_top .footer_title {
    font-size: 1.625rem; }
  .home .contact .call a {
    font-size: 1.75rem; }
  .home .partner {
    padding: 1.875rem 0; } }
@media (max-width: 1024px) {
  .home .slide_home .slide_text {
    width: 70%;
    left: 10%; }
    .home .slide_home .slide_text .slide_title.top,
    .home .slide_home .slide_text .slide_title.bot {
      font-size: 1.5rem; }
  .home .introduce .intro_title {
    font-size: 1.375rem; }
  .home .introduce .introduce_text {
    width: 100%; }
    .home .introduce .introduce_text .content_title {
      font-size: 1.125rem; }
  .home .introduce .img_intro {
    display: none; }
  .home .service .service_title {
    font-size: 1.375rem; }
  .home .service .service_item .service_text {
    left: 0.625rem; }
    .home .service .service_item .service_text .service_itemTitle {
      font-size: 1.125rem; }
    .home .service .service_item .service_text .content {
      -webkit-line-clamp: 3; }
    .home .service .service_item .service_text .more {
      margin-top: 0.625rem; }
  .home .project {
    padding: 3.125rem; }
    .home .project .project_title {
      font-size: 1.375rem; }
  .home .why_me .why_title {
    font-size: 1.375rem; }
  .home .why_me .why_text {
    min-height: 18.75rem;
    padding: 2.5rem;
    width: 100%;
    text-align: justify; }
  .home .why_me .img_span {
    display: none; }
  .home .tab_home .tab_homeItem .item_title {
    font-size: 1.0625rem;
    line-height: 1.5; }
  .home .tab_home .tab_homeItem::after {
    height: 53%; }
  .home .establish {
    min-height: auto; }
    .home .establish .d_hight {
      min-height: 23.75rem; }
    .home .establish .establish_title {
      font-size: 1.375rem; }
    .home .establish .establish_text {
      padding: 1.25rem;
      width: 100%; }
      .home .establish .establish_text .establish_count {
        font-size: 1.5rem; }
    .home .establish .media-body .img {
      right: 0; }
  .home .procedure,
  .home .new {
    padding: 2.5rem 0; }
    .home .procedure .procedure_title,
    .home .new .procedure_title {
      font-size: 1.375rem; }
    .home .procedure .slide_new .new_next,
    .home .new .slide_new .new_next {
      right: 0rem; }
    .home .procedure .slide_new .new_prev,
    .home .new .slide_new .new_prev {
      left: 0rem; }
  .home .new .new_text ul {
    margin-top: 1.25rem; }
  .home .new .new_text .text_title {
    font-size: 1.0625rem; }
  .home .procedure {
    padding: 3.125rem 0; }
    .home .procedure .c_text .c_text_title {
      font-size: 1.0625rem; }
    .home .procedure .slide_procedure .procedure_img,
    .home .procedure .slide_procedure .procedure_child {
      display: none; }
  .home .comment .padding_com {
    min-height: 23.75rem; }
  .home .comment .comment_me {
    min-height: 23.75rem; }
  .home .comment .com_title {
    font-size: 1.375rem; }
  .home .comment .slide_comment {
    min-height: 25.25rem; }
  .home .comment .swiper-container-horizontal > .swiper-pagination-bullets,
  .home .comment .swiper-pagination-custom,
  .home .comment .swiper-pagination-fraction {
    bottom: 10%; }
  .home .footer_top .footer_title {
    font-size: 1.375rem; }
  .home .contact .call a {
    font-size: 1.375rem; } }
@media (max-width: 991px) {
  .home header::after {
    display: none; }
  .home header .header_contact .contact_box .header_top .link_contact {
    padding: 0.3125rem; }
  .home .menu ul {
    display: none; }
  .home .menu .search {
    margin-left: auto !important;
    width: 1.875rem;
    height: 1.875rem; }
  .home .menu .btn_main {
    padding: 0.3125rem 0.4375rem; }
  .home .menu .logo {
    max-width: 4.375rem;
    max-height: 4.375rem; }
    .home .menu .logo img {
      max-width: 4.375rem;
      max-height: 4.375rem; }
  .home .slide_home .slide_text {
    top: 38%; }
    .home .slide_home .slide_text .content {
      margin: 0.625rem 0; }
    .home .slide_home .slide_text .slide_title.top {
      margin-top: 0.625rem; }
  .home .service .service_title {
    font-size: 1.375rem; }
  .home .service .service_item .service_text {
    left: 1.25rem; }
  .home .project .content {
    margin-top: 1.25rem; }
  .home .project .btn_main {
    margin-top: 1.25rem; }
  .home .project .project_title {
    font-size: 1.375rem; }
  .home .tab_home ul li {
    margin-top: 0.9375rem; }
  .home .establish .d_hight {
    min-height: 43.75rem; }
  .home .procedure .slide_procedure {
    padding: 1.25rem 0 0 0; }
  .home .procedure .procedure_item {
    margin-top: 1.25rem; }
  .home .comment .slide_comment {
    min-height: 21.875rem; }
  .home .comment .comment_me .comment_text {
    min-height: 12.5rem; }
  .home .footer_top .footer_title {
    margin-bottom: 1.25rem; }
  .home footer .footer_bot p {
    margin-bottom: 0.625rem; } }
@media (max-width: 767px) {
  .home .slide_home .slide_text {
    width: 80%;
    top: 31%; }
    .home .slide_home .slide_text .btn_white {
      padding: 0.3125rem 0.4375rem;
      font-size: 0.9375rem; }
  .home .introduce .padding_img {
    padding: 1.25rem;
    max-width: 100%;
    max-height: 25rem;
    margin-bottom: 1.25rem; }
    .home .introduce .padding_img img {
      max-width: 100%;
      max-height: 25rem; }
  .home .service .service_item .service_span {
    display: none; }
  .home .service .padding_service {
    padding: 0.625rem 0; }
  .home .project {
    padding: 1.875rem 0; }
    .home .project .btn_main {
      font-size: 0.875rem; }
  .home .tab_home ul {
    margin-bottom: 0; }
  .home .establish .d_hight {
    min-height: auto; }
  .home .establish form {
    margin-bottom: 2.5rem; } }
@media (max-width: 575px) {
  .home .slide_home .slide_text {
    width: 90%;
    left: 5%; }
    .home .slide_home .slide_text .slide_title.top,
    .home .slide_home .slide_text .slide_title.bot {
      font-size: 1.125rem; }
    .home .slide_home .slide_text .slide_title.top {
      margin-top: 0.125rem; }
    .home .slide_home .slide_text .content {
      font-size: 0.875rem;
      margin-top: 0.125rem; }
    .home .slide_home .slide_text .slide_span {
      font-size: 1.0625rem; }
  .home .introduce .intro_title {
    font-size: 1.125rem; }
  .home .introduce .introduce_text .s-content {
    margin-top: 0.625rem; }
  .home .introduce .introduce_text .content_title {
    font-size: 1rem; }
  .home .introduce .introduce_text .content {
    font-size: 0.9375rem; }
  .home .introduce .introduce_text .btn_main {
    margin-top: 1.25rem;
    font-size: 0.875rem; }
  .home .service .service_title {
    font-size: 1.125rem; }
  .home .service .service_text .content {
    font-size: 0.9375rem; }
  .home .project .project_title {
    font-size: 1.125rem; }
  .home .project .content {
    font-size: 0.9375rem; }
  .home .why_me .why_title {
    font-size: 1.125rem; }
  .home .why_me .content {
    font-size: 0.9375rem; }
  .home .why_me ul li {
    font-size: 0.9375rem; }
  .home .establish .establish_title {
    font-size: 1.125rem; }
  .home .establish .content {
    font-size: 0.9375rem; }
  .home .procedure .content {
    font-size: 0.9375rem; }
  .home .tab_home ul li {
    font-size: 0.9375rem; }
  .home .tab_home .item_text .content {
    font-size: 0.9375rem; }
  .home .procedure .procedure_title,
  .home .new .procedure_title {
    font-size: 1.125rem; }
  .home .comment .com_title {
    font-size: 1.125rem; }
  .home .comment .comment_text .content {
    font-size: 0.9375rem; }
  .home .comment .comment_text .btn_main {
    font-size: 0.875rem; }
  .home .comment .c_text .box_text .content {
    font-size: 0.9375rem; }
  .home footer .footer_top .footer_title {
    font-size: 1.125rem; }
  .home footer .footer_text {
    font-size: 1.0625rem; }
  .home footer .content {
    font-size: 0.9375rem; }
  .home footer .text_span {
    font-size: 0.9375rem; }
  .home footer .footer_bot p {
    font-size: 0.9375rem; }
  .home footer ul li a {
    font-size: 0.9375rem; }
  .home .contact {
    padding: 1.25rem 0; }
    .home .contact .call a {
      font-size: 1.125rem; }
  .home .new {
    padding: 1.25rem 0; }
    .home .new .content {
      font-size: 0.9375rem; }
    .home .new .text_title {
      font-size: 1rem; }
    .home .new .new_text .btn_link {
      font-size: 0.9375rem; } }
@media (max-width: 480px) {
  .home .service .service_item .service_span {
    display: block; }
  .home .service .service_item .service_text {
    left: 10%;
    bottom: 20%; } }
@media (max-width: 320px) {
  .home .why_me .why_spanImg {
    top: 31%;
    left: 34%; }
  .home .why_me .padding_why {
    padding: 0.625rem; }
  .home .why_me .why_text {
    padding: 0; }
    .home .why_me .why_text ul li {
      margin-top: 0.625rem;
      line-height: 1.5; }
      .home .why_me .why_text ul li img {
        margin-right: 0.125rem; }
  .home .introduce .introduce_text {
    padding: 0; }
  .home .comment .comment_item .c_text {
    text-align: justify;
    margin-top: 1.25rem; }
  .home .comment .padding_com {
    min-height: auto; }
  .home .comment .comment_me {
    min-height: auto; }
    .home .comment .comment_me .img_span {
      display: none; }
  .home .comment .swiper-container-horizontal > .swiper-pagination-bullets,
  .home .comment .swiper-pagination-custom,
  .home .comment .swiper-pagination-fraction {
    bottom: 0%; } }

/*# sourceMappingURL=mobile.css.map */
